.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text-light);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}


.nav-links li a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
  font-weight: bold;
}

.nav-links li a:hover {
  color: var(--primary-light);
}

.nav-links li {
  cursor: pointer;
}


.lang-btn {
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-dark);
  color: var(--text-light);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.lang-btn:hover {
  background-color: var(--primary-light);
}


.checkbtn {
  font-size: 24px;
  color: var(--text-light);
  cursor: pointer;
  display: none;
}


.check {
  display: none;
}


@media (max-width: 600px) {
  .navbar {
    padding: 12px;
  }

  .checkbtn {
    display: block;
    order: 1;
    z-index: 1001;
  }

  .theme-btn {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s ease;
  }

  .theme-btn:hover {
    transform: scale(1.1);
  }


  .nav-links {
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--primary-dark);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 40px 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

  .ltr .nav-links {
    right: -100%;
  }

  .ltr #check:checked~.nav-links {
    right: 0;
  }


  .rtl .nav-links {
    left: -100%;
  }

  .rtl #check:checked~.nav-links {
    left: 0;
  }

  .nav-links li a {
    font-size: 20px;
    color: var(--text-light);
  }

  .lang-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
}