:root {
  --primary-color: #63976A;
  --primary-dark: #4d7a55;
  --primary-light: #8cbf8c;
  --text-light: #ffffff;
  --text-dark: #333333;
    --light-bg: #f8f9fa;

}

* {
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family:
    'Poppins', 'Inter', 'Roboto',
    'Cairo', 'Tajawal', 'Almarai',
    sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
  margin: 0 auto;
  padding: 20px; 
  box-sizing: border-box;
  max-width: 1200px; 
}

