:root {
  --primary-color: #63976A;
  --primary-dark: #4d7a55;
  --primary-light: #8cbf8c;
  --text-light: #ffffff;
  --text-dark: #333333;
  --light-bg: #f8f9fa;

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    'Poppins', 'Inter', 'Roboto',
    'Cairo', 'Tajawal', 'Almarai',
    sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
}


.search-input:focus,
.city-filter:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-light);
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
  text-align: center;
}


.search-input,
.city-filter {
  padding: 8px 12px;
  border: 2px solid var(--primary-light);
  border-radius: 8px;
  outline: none;
  background-color: var(--light-bg);
  color: var(--text-dark);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  min-width: 200px;
}


.search-input:hover,
.city-filter:hover {
  border-color: var(--primary-dark);
}

#logout-form button {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

#logout-form button:hover {
  color: var(--link-hover-color);
}

@media (max-width: 600px) {

  .form-container th,
  .form-container td {
    display: block;
    width: 100%;
  }

  html[dir="rtl"] .form-container th,
  html[dir="rtl"] .form-container td {
    text-align: right !important;
  }

  html[dir="rtl"] .form-container input[type="text"],
  html[dir="rtl"] .form-container input[type="url"] {
    direction: rtl !important;
    text-align: right !important;
  }
}